:root{
    --primaryForeground: rgb(176, 192, 188);
    --secondaryForeground: rgb(193, 237, 204);
    --background: rgb(167, 167, 169);
    --text1: rgb(69, 63, 60);
    --text2: rgb(121, 114, 112);
    --accent: rgb(96, 119, 67);
}

body{
    margin: 0;
    padding: 99;
    display: flex;
    flex-direction: column;
    color: var(--text1);
    background-color: var(--background);
    font-size: 2em;
    max-height: 100vh;
}

a{
    text-decoration: none;
    color: var(--text1);
}

#banner{
    width: 100%;
    height: 4em;
    margin: 0;
}

#cardContainer{
    height: 75%;
    overflow-y: scroll;
    background-color: var(--secondaryForeground);
    margin: 0;
    padding: 0;
}

#portraitContainer{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

#selfie{
    height: 100%;
    width: 20%;
    min-width: 0;
    margin: 1%;
    margin-top: 0;
    margin-left: 0;
}

#filler{
    height: 100%;
    width: 75%;
    min-width: 0;
    margin-top: 0.5%;
}

figcaption{
    height: 9em;
    width: 60%;
    padding: .5em;
    border-style: solid;
    border-radius: .7em;
    border-color: var(--accent);
    margin: .3em;
    background-color: var(--primaryForeground);
    margin-left: 18%;
    min-height: 0;
    min-width: 0;
}

#bookLink{
    width: 75%;
    height: 100%;
    min-height: 0;
    min-width: 0;
}

#authorLink{
    height: 100%;
    min-height: 0;
    min-width: 0;
}

#shopLink{
    width: 75%;
    height: 100%;
    min-height: 0;
    min-width: 0;
}

#login{
    margin: .5em;
    height: 10%;
}

#label1{
    font-size: 0.8em;
    margin-left: 7%;
}

#input{
    height: 1.8em;
    width: 30%;
    border-radius: .5em;
    border-style: solid;
    border-color: var(--accent);
    background-color: var(--primaryForeground);
}

#submit{
    height: 2.3em;
    width: 3.6em;
    font-size: 0.5em;
    font-weight: 700;
    border-radius: .5em;
    border-style: solid;
    border-color: var(--accent);
    background-color: var(--secondaryForeground);
    color: var(--text2);
}



/* author page  */
#authorHeader{
    text-align: center;
    background-color: var(--secondaryForeground);
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
}

#authorPage{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    background-color: var(--primaryForeground);
}

#profile{
    text-align: center;
    width: 20%;
    img{
        width: 100%;
    }
    background-color: var(--background);
}

#biography{
    width: 75%;
    margin: 1em;
}

.homeButton{
    border-radius: 5%;
    border-style: solid;
    border-width: .2em;
    border-color: var(--secondaryForeground);
    background-color: var(--text1);
    color: var(--accent);
    padding: .1em;
    text-align: center;
}

/* books page  */
#booksHeader{
    text-align: center;
    background-color: var(--secondaryForeground);
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
}

#booksPage{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    background-color: var(--primaryForeground);
    text-align: center;
}

/* shop page */
#shopBody{
    margin: 0;
    padding: 0;
}

#shopHeader{
    margin: 5%;
    align-self: center;
    color: var(--text1);
    font-size: 1.2em;
    min-width: 0;
    min-height: 0;
}

#howTo{
    margin: 5%;
    margin-top: 2%;
    color: var(--text1);
    font-size: 0.9em;
    min-width: 0;
    min-height: 0;
}

#mainBody{
    margin-top: 5%;
    display: flex;
    margin: 0;
    padding: 0;
}

#shopContainer{
    margin-right: 0;
    width: 45%;
    margin: 1%;
    padding: 1%;
    justify-content: center;
    min-height: 40%;
    border-style: solid;
    border-radius: 2em;
    border-width: 1em;
    border-color: var(--secondaryForeground);
    background-color: var(--primaryForeground);
}

#purchaseContainer{
    width: 45%;
    margin: 1%;
    padding: 2%;
    min-height: 40%;
    border-style: solid;
    border-radius: 2em;
    border-width: 1em;
    border-color: var(--secondaryForeground);
    background-color: var(--primaryForeground);
}

.cartCard{
    padding: 3%;
    background-color: var(--accent);
    border-radius: 1em;
    border-style: solid;
    border-width: .3em;
    width: 90%;
    font-size: .7em;
    min-width: 0;
    min-height: 0;
}

.shopCard{
    padding: 3%;
    margin: 0;
    background-color: var(--text1);
    color: var(--text2);
    border-color: var(--background);
    border-radius: 1em;
    border-style: solid;
    border-width: .3em;
    width: 90%;
    font-size: .7em;
    min-width: 0;
    min-height: 0;
}